{% include "frontend/header.twig" %}


<div class="container">

<div class="row pt-5">
	<div class="d-flex justify-content-center">
<div class="col-lg-6 col-md-12">

<div class="card mb-3">
<div class="card-header"><h2>Error occured</h2></div>
<div class="card-body">
{{message}}
</div>

</div>
</div>

</div>
</div>

</div>



{% include "frontend/footer.twig" %}