<h1 class="py-2"><a id="content-simple-cms-the-content-management-system-for-a-fast-seo-friendly-website" class="heading-permalink" title="Permalink" href="#content-simple-cms-the-content-management-system-for-a-fast-seo-friendly-website" aria-hidden="true"></a>Simple CMS the content management system for a fast SEO friendly website</h1>

<p>With HostingBE's simple CMS, you can easily and quickly set up a website in multiple languages on multiple domains. The CMS is open source, so available for free, and is versatile and developed with SEO and speed as important basic features. We have also thought of ease of use and stability for a starting website or a website with a lot of visitors.</p>

<h2 class="py-2"><a id="content-the-features-of-simple-cms" class="heading-permalink" title="Permalink" href="#content-the-features-of-simple-cms" aria-hidden="true"></a>The features of simple CMS</h2>

<h3 class="py-2"><a id="content-easy-and-quick-to-expand" class="heading-permalink" title="Permalink" href="#content-easy-and-quick-to-expand" aria-hidden="true"></a>Easy and quick to expand:</h3>

<p>The CMS is easy to expand with your own functionalities. We have already created the custom directories for you. This way, the improvements and changes you make to the CMS will not be overwritten when it is updated.</p>

<h3 class="py-2"><a id="content-easily-customize-looks-from-website" class="heading-permalink" title="Permalink" href="#content-easily-customize-looks-from-website" aria-hidden="true"></a>Easily customize looks from website</h3>

<p>Because we have separated the code and the layout by means of templates, it is easy to adjust the look of your website. You can even customize the templates from the admin area. It's also very easy to use frameworks like bootstrap, fairwind, and vue.</p>

<h3 class="py-2"><a id="content-safety-first" class="heading-permalink" title="Permalink" href="#content-safety-first" aria-hidden="true"></a>Safety first:</h3>

<p>By default, we have added two-facto authentication in the CMS system 2FA so that the security of your website is guaranteed. You can easily set up two factor in your account.</p>

<h3 class="py-2"><a id="content-multiple-language-support" class="heading-permalink" title="Permalink" href="#content-multiple-language-support" aria-hidden="true"></a>Multiple language support:</h3>

<p>Support multiple languages based on different domains. This way you really have different websites that can be indexed separately by the search engines. All from one management area. The CMS is easy to expand with even more languages than the standard 3 languages that are supported (NL, EN, DE).</p>

<h3 class="py-2"><a id="content-performance-comes-as-standard" class="heading-permalink" title="Permalink" href="#content-performance-comes-as-standard" aria-hidden="true"></a>Performance comes as standard:</h3>

<p>As a webmaster, you want your website to be and stay fast, no matter how many visitors you get in the future. The CMS supports standard caching and the redis server for storing information that is regularly requested on your website. This ensures fewer requests to the database, making your website faster.</p>

<h3 class="py-2"><a id="content-installing-or-updating-a-simple-cms" class="heading-permalink" title="Permalink" href="#content-installing-or-updating-a-simple-cms" aria-hidden="true"></a>Installing or updating a simple CMS</h3>

<p>Download or clone the repository with git and the command install.sh out on a new install or upgrade.sh if you want to upgrade your CMS version to the latest stable version.</p>

<h3 class="py-2"><a id="content-it-is-open-source" class="heading-permalink" title="Permalink" href="#content-it-is-open-source" aria-hidden="true"></a>It is open source</h3>

<p>yes, the CMS is free! If you miss options in the CMS or if you run into a bug, please report it and we will solve it as soon as possible. If you want to participate in the further development of the CMS, please sign up.</p>