<h1 class="py-2"><a id="content-simple-cms-het-content-managementsysteem-voor-een-snelle-seo-vriendelijke-website" class="heading-permalink" title="Permalink" href="#content-simple-cms-het-content-managementsysteem-voor-een-snelle-seo-vriendelijke-website" aria-hidden="true"></a> Simple CMS het content managementsysteem voor een snelle SEO vriendelijke website</h1>

<p>Met het simpel CMS van HostingBE kan je eenvoudig en snel een website opzetten in meerdere talen op meerdere domeinen. Het CMS is opensource dus gratis beschikbaar en is veelzijdig en ontwikkeld met SEO en snelheid als belangrijke basis kenmerken. Ook hebben we gedacht aan gebruikersgemak en stabiliteit voor een beginnende website of een website met heel veel bezoekers.</p>

<h2 class="py-2"><a id="content-de-kenmerken-van-simpel-cms" class="heading-permalink" title="Permalink" href="#content-de-kenmerken-van-simpel-cms" aria-hidden="true"></a>De kenmerken van simpel CMS</h2>

<h3 class="py-2"><a id="content-makkelijk-en-snel-uit-te-breiden" class="heading-permalink" title="Permalink" href="#content-makkelijk-en-snel-uit-te-breiden" aria-hidden="true"></a>Makkelijk en snel uit te breiden:</h3>

<p>Het CMS is eenvoudig uit te breiden met jouw eigen functionaliteiten. We hebben de custom directories al voor je aangemaakt. Zo worden ook de verbeteringen en wijzigingen die je maakt aan het CMS niet overschreven als deze wordt ge&uuml;pdatet.</p>

<h3 class="py-2"><a id="content-eenvoudig-looks-aanpassen-van-website" class="heading-permalink" title="Permalink" href="#content-eenvoudig-looks-aanpassen-van-website" aria-hidden="true"></a>Eenvoudig looks aanpassen van website</h3>

<p>Doordat we de code en de opmaak gescheiden hebben door middel van templates is het eenvoudig om de looks van je website aan te passen. Je kan zelfs de templates aanpassen vanuit het beheer gedeelte. Het is ook heel eenvoudig om gebruiken te maken van frameworks zoals bootstrap, fairwind en vue.</p>

<h3 class="py-2"><a id="content-veiligheid-staat-voorop" class="heading-permalink" title="Permalink" href="#content-veiligheid-staat-voorop" aria-hidden="true"></a>Veiligheid staat voorop:</h3>

<p>Standaard hebben we in het CMS-systeem 2FA two facto authenticatie toegevoegd zodat de veiligheid van jouw website gewaarborgd blijft. Je kan two factor heel eenvoudig instellen in je account.</p>

<h3 class="py-2"><a id="content-meerdere-talen-ondersteuning" class="heading-permalink" title="Permalink" href="#content-meerdere-talen-ondersteuning" aria-hidden="true"></a>Meerdere talen ondersteuning:</h3>

<p>Ondersteunen meerdere talen op basis van verschillende domeinen. Zo heb je echt verschillende websites welke apart ge&iuml;ndexeerd kunnen worden door de zoekmachines. Allemaal vanuit een beheer gedeelte. Het CMS is eenvoudig uit te breiden met nog meer talen dan de standaard 3 talen die ondersteund worden (NL, EN, DE).</p>

<h3 class="py-2"><a id="content-performance-is-standaard" class="heading-permalink" title="Permalink" href="#content-performance-is-standaard" aria-hidden="true"></a>Performance is standaard:</h3>

<p>Als webmaster wil je dat je website snel is en blijft, hoeveel bezoekers je ook krijgt in de toekomst. Het CMS ondersteund standaard caching en de redis server voor het opslaan van informatie welke regelmatig repeterend wordt opgevraagd op je website. Dit zorgt voor minder aanvragen naar de database waardoor je website sneller is.</p>

<h3 class="py-2"><a id="content-installeren-of-updaten-van-simpel-cms" class="heading-permalink" title="Permalink" href="#content-installeren-of-updaten-van-simpel-cms" aria-hidden="true"></a>Installeren of updaten van simpel CMS</h3>

<p>Download of clone de repository met git en over het commando install.sh uit bij een nieuwe installatie of upgrade.sh als je jouw CMS versie wilt upgraden naar de laatste stabiele versie.</p>

<h3 class="py-2"><a id="content-het-is-opensource" class="heading-permalink" title="Permalink" href="#content-het-is-opensource" aria-hidden="true"></a>Het is opensource</h3>

<p>ja, het CMS is gratis! Mis je mogelijkheden in het CMS of loop je tegen een bug aan meld het dan en dan lossen we deze zo snel mogelijk op. Wil je meewerken aan het verder ontwikkelen van het CMS meld je dan ook aan.</p>