.vscode-server/
.ssh/
cgi-bin/
etc/
homes/
logs/*
Maildir/
vendor/
virtualmin-backup/
.bash_*
.git/
logs/
.composer/
.local/
.config/
sess_*
.cache/
.npm/
cache/
.bashrc
.wget-hsts
composer.lock
backup/
tmp/
templates/design/.sass-cache/
public_sql/
config/config.php
public_html/node_modules/
public_html/package-lock.json
public_html/install/assets/vendor/
public_html/install/assets/composer.lock
public_html/install/assets/templates_c/