.vscode-server/
.ssh/
cgi-bin/
etc/
homes/
logs/*
Maildir/
vendor/
virtualmin-backup/
.bash_*
.git/
logs/
.composer/
.local/
.config/
sess_*
.cache/
.npm/
cache/
.bashrc
.wget-hsts
composer.lock
backup/
config/config.php
public_html/node_modules/
public_html/package-lock.json