{% include "frontend/header.twig" %}

<div class="container">        
        <h1 class="pt-4 pb-4">Manager bekijk logging</h1>

<div class="row mb-4">

{% include "manager/manager-menu.twig" %}         
</div>

<div class="row">


       {% include "backend/alert.twig" %} 
            <div class="card mb-3">
            <div class="card-body">
<div class="row mb-4"> 
<div class="col-md-4"></div>
<div class="col-md-4"><label>Bekijk logging van een dag:</label></div>
<div class="col-md-4">
<select name="log" class="form-control">
		{% for file in files %}
		<option value="{{file}}">{{file|capitalize}}</option>
		{% endfor %}
		</select>
	</div>
</div>

<div class="row mb-4">
<div class="overflow-auto bg-dark text-light" style="height: 500px;"></div>
</div>

</div><!-- container -->

      </div>
      </div>
    </div>


{% include "frontend/footer.twig" %}