{% include "frontend/header.twig" %}

<div class="container">
<h1 class="pt-4 pb-4">Support item toevoegen</h1>


{% include "manager/manager-menu.twig" %} 

<div class="row">

{% include "backend/alert.twig" %}

<div class="card mb-3">

<div class="card-body">

 <form class="flex" id="ajax-form" action="{{url}}/manager/support-toevoegen" method="POST" data-reload="false">
{{ csrf() | raw }}
                                    <div class="form-group">
                                        <label class="form-label" for="title">Title:</label>
                                        <input type="text" name="title" class="form-control" value="" placeholder="titel artikel ..">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="description">Description:</label>
                                        <input type="text" name="description" class="form-control" value="" placeholder="meta description ..">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="keywords">Keywords:</label>
                                        <input type="text" name="keywords" class="form-control" value="" placeholder="meta keywords ..">
                                    </div>                                    

                                    <div class="form-group">
                                        <label class="form-label" for="keywords">Categorie:</label>
                                        <select name="categorie"  class="form-control">
                                         {% for categorie in categories %}
                                         <option value="{{categorie.id}}">{{categorie.naam|capitalize}}</option>
                                         {% endfor %}
                                        </select>
                                    </div>
                                 <div class="row pt-4 pb-4">
                              
                                        <label class="form-label col-1" for="tags">Tags:</label>
                                        <div class="col-5">
                                        <input type="text" name="tags" class="form-control" value="" placeholder="tags  comma seperated ..">
                                        </div>
                                        <label class="form-label col-1" for="tags">Likes:</label>
                                        <div class="col-5">
                                        <input type="text" name="likes" class="form-control" value="" placeholder="total likes ..">
                                        </div>
                                                  </div>    

                                  <div class="form-group">
                                        <label class="form-label" for="keywords">Artikel:</label>
                                                <textarea name="artikel" class="form-control" rows="15" cols="70" id="textarea-input"></textarea>
                                    </div>

                                     <button type="submit" class="btn btn-primary" id="submit-ajax">save article</button>
</form>
	</div>
</div>
</div>

</div>


{% include "frontend/footer.twig" %}
