{% include 'header.twig' %}

<div class="d-flex justify-content-center">
    <div class="row pt-5 w-50">

        <h1 class="pt-5 text-white">{{ title | capitalize }}</h1>    

        {% include 'menu.twig' %}

    <div class="col-md-9 bg-white">
Welkom bij de installatie pagina van {{ name }}
    </div>
{% include 'urls.twig' %}
</div>
</div>

{% include 'footer.twig' %}